# Q1 Revenue trends across branches and categories

In [ ]:
SELECT 
    Branch,
    category,
    SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity) AS total_revenue
FROM walmart_sales
GROUP BY Branch, category
ORDER BY total_revenue DESC;

# Q2 Identifying best-selling product categories

In [ ]:
SELECT 
    category,
    SUM(quantity) AS total_units_sold
FROM walmart_sales
GROUP BY category
ORDER BY total_units_sold DESC
LIMIT 5;

# Q3 Sales performance by time, city, and payment method

In [ ]:
SELECT 
    City,
    payment_method,
    DATE_FORMAT(STR_TO_DATE(date, '%d/%m/%y'), '%Y-%m') AS month,
    SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity) AS monthly_sales
FROM walmart_sales
GROUP BY City, payment_method, month
ORDER BY City, month;

# Q4 Analyzing peak sales periods and customer buying patterns

In [ ]:
SELECT 
    HOUR(STR_TO_DATE(time, '%H:%i:%s')) AS sales_hour,
    SUM(quantity) AS total_units_sold
FROM walmart_sales
GROUP BY sales_hour
ORDER BY total_units_sold DESC;

# Q5 Profit margin analysis by branch and category

In [ ]:
SELECT 
    Branch,
    category,
    ROUND(AVG(profit_margin), 2) AS avg_profit_margin,
    SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity * profit_margin) AS total_profit
FROM walmart_sales
GROUP BY Branch, category
ORDER BY total_profit DESC;

# Q6 Which city generates the highest average revenue per transaction?

In [ ]:
SELECT 
    City,
    ROUND(AVG(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity), 2) AS avg_revenue_per_transaction
FROM walmart_sales
GROUP BY City
ORDER BY avg_revenue_per_transaction DESC;

# Q7 Top 3 product categories with the highest profit contribution overall

In [ ]:
SELECT 
    category,
    SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity * profit_margin) AS total_profit
FROM walmart_sales
GROUP BY category
ORDER BY total_profit DESC
LIMIT 3;

# Q8 Monthly revenue trends per branch

In [ ]:
SELECT 
    Branch,
    DATE_FORMAT(STR_TO_DATE(date, '%d/%m/%y'), '%Y-%m') AS month,
    SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity) AS monthly_revenue
FROM walmart_sales
GROUP BY Branch, month
ORDER BY Branch, month;

# Q9 Which payment method is most profitable across all cities?

In [ ]:
SELECT 
    payment_method,
    SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity * profit_margin) AS total_profit
FROM walmart_sales
GROUP BY payment_method
ORDER BY total_profit DESC;

# Q10 Identify products (categories) with highest sales growth month-over-month

In [ ]:
WITH monthly_sales AS (
    SELECT 
        category,
        DATE_FORMAT(STR_TO_DATE(date, '%d/%m/%y'), '%Y-%m') AS month,
        SUM(CAST(REPLACE(unit_price, '$', '') AS DECIMAL(10,2)) * quantity) AS revenue
    FROM walmart_sales
    GROUP BY category, month
)
SELECT 
    m1.category,
    m1.month,
    (m1.revenue - COALESCE(m2.revenue,0)) AS revenue_growth
FROM monthly_sales m1
LEFT JOIN monthly_sales m2
    ON m1.category = m2.category
   AND DATE_SUB(STR_TO_DATE(m1.month, '%Y-%m'), INTERVAL 1 MONTH) = STR_TO_DATE(m2.month, '%Y-%m')
ORDER BY revenue_growth DESC;